@import "../../styles/variables";

$hexbox-size: 70px;

.partners {
    width: 85vw;
    margin: auto;
    margin-bottom: 1rem;
}

.partner {
    display: flex;
    justify-items: center;
    // justify-content: center;
    position: relative;
    transform: translateX(50%);
    left: calc(-1 * $hexbox-size / 2);

    &__outter {
        &::before {
            content: " ";
            position: absolute;
            top: 0px;
            left: calc(-1 * $hexbox-size /2 - 1px);
            border-right: calc($hexbox-size/2 + 2px) solid $main-color;
            border-top: calc(($hexbox-size*1.7320508075688772935274463415059)/2) solid transparent;
            border-bottom: calc(($hexbox-size*1.7320508075688772935274463415059)/2) solid transparent;
            width: 0;
            height: 0;
            z-index: 1;
        }

        &::after {
            content: " ";
            position: absolute;
            top: 0px;
            left: $hexbox-size + 1px;
            border-left: calc($hexbox-size/2 + 2px) solid $main-color;
            border-top: calc(($hexbox-size*1.7320508075688772935274463415059)/2) solid transparent;
            border-bottom: calc(($hexbox-size*1.73205080756887729352744634150599)/2) solid transparent;
            width: 0;
            height: 0;
            z-index: 1;
        }

        text-align: center;
        background-color: $main-color;
        width: $hexbox-size;
        margin-left: 1px;
        height: calc($hexbox-size*1.7320508075688772935274463415059);
        z-index: 1;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $background-color-1;
        width: calc($hexbox-size - 4px);
        height: calc($hexbox-size * 1.7320508075688772935274463415059 - 8px);
        margin-left: 2px;
        margin-top: 4px;
        z-index: 2;

        &::before {
            content: " ";
            position: absolute;
            top: 4px;
            left: calc(-1*($hexbox-size - 4px)/2 + 1px);
            border-right: calc(($hexbox-size - 4px)/2 + 2px) solid $background-color-1;
            border-top: calc(($hexbox-size*1.7320508075688772935274463415059 - 8px)/2) solid transparent;
            border-bottom: calc(($hexbox-size*1.7320508075688772935274463415059 - 8px)/2) solid transparent;
            width: 0;
            height: 0;
            z-index: 2;
        }

        &::after {
            content: " ";
            position: absolute;
            top: 4px;
            left: calc($hexbox-size - 1px);
            border-left: calc(($hexbox-size - 4px)/2 + 2px) solid $background-color-1;
            border-top: calc(($hexbox-size*1.7320508075688772935274463415059 - 8px)/2) solid transparent;
            border-bottom: calc(($hexbox-size*1.7320508075688772935274463415059 - 8px)/2) solid transparent;
            width: 0;
            height: 0;
            z-index: 2;
        }
    }
}