@import "./../../styles/variables";

.topic {
    // height: 60vh;
    background-color: $background-color-2;
    display: grid;
    grid-template-columns: 30rem 1fr;

    &__info {
        position: relative;

        svg {
            position: absolute;
            // height: 30vw;
            width: 40rem;
            top: calc(-0.05 * 40rem);
            left: calc(-0.3 * 40rem);
        }

        article {
            position: relative;
            z-index: 1000;
            text-align: justify;

            h2 {
                padding-top: 2rem;
                padding-left: 1rem;
            }

            p {
                padding-left: 1rem;
            }

            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }

    }
    &__article-mask {
        float: right;
        shape-margin: .5rem;
        // shape-outside: polygon(-6vw 0, -1vw 17vw, 0 0);
        shape-outside: polygon(0 0, 12rem 0, 12rem 34rem, 0 34rem, 9rem 17rem);
        height: 35rem;
        width: 13rem;
    }

    .carousel-root {
        width: calc(100vw - 30rem);
        filter: grayscale(1);
        height: 100%;

        .control-arrow::before {
            border-top-width: 16px !important;
            border-bottom-width: 16px !important;
        }

        .control-prev::before {
            border-right-width: 16px !important;
        }

        .control-next::before {
            border-left-width: 16px !important;
        }
    }

    .slider-wrapper {
        height: 100%;
    }

    .slider.animated {
        height: 100%;
    }

    &__slide {
        height: 100%;
        color: white;
        padding: 0 15vw;
        padding-top: 1rem;
        background-size: cover;
        background-position: center;
        display: grid;
        align-items: center;

        a {
            color: $main-color;
        }

        div {
            padding: 0.125rem 2rem;
            background-color: rgba(0, 0, 0, 0.6);
            // back
        }
    }

    .carousel {
        height: 100%;
    }

    .carousel-status {
        display: none;
    }

    .control-arrow {
        width: 20%;
    }

    .dot {
        box-shadow: none;
    }
}


@media only screen and (max-width: 1100px) {
    .topic {
        &__slide {
            padding: 0 2rem;
        }
    }
}

@media only screen and (max-width: 800px)  {
    .topic {
        grid-template-columns: 100%;

        &__info {
            width: 35rem;
            height: 32rem;

            article {
                width: 28rem
            }

            svg {
                width: 35rem;
                top: calc(-0.05 * 35rem);
                left: calc(-0.3 * 35rem);
            }

            
        }
        &__article-mask {
            shape-outside: polygon(0 0, 12rem 0, 12rem 28rem, 0 28rem, 8rem 14.5rem);
            height: 28rem;
        }
        .carousel-root {
            width: 100%;
            height: 100%;
        }

        .control-dots {
            display: none;
        }
    }
}

@media only screen and (min-width: 800px) {
    .topic {
        display: block;
        position: relative;

        &__info {
            width: 30rem;
            z-index: 1000;
            height: 34.6rem;
        }

        .carousel-root {
            position: absolute;
            top: 0.7rem;
            left: 0;
            right: 0;
            width: 100%;
        }

        &__slide {
            padding-left: 37rem;
        }

        .control-next {
            width: 30%;

            &::before {
                transform: translateX(4rem);
            }
        }

        .control-prev {
            width: calc(30% + 22rem);

            &::before {
                transform: translateX(4rem);
            }
        }
    }
}