$main-color: #1eca94;
$background-color-1: black;
$background-color-2: #262626;
$text-color-1: white;
$text-color-2: #1eca94;
$text-color-3: black;
$hexagon-bigger: 90px;
$hexagon-big: 65px;
$hexagon-normal: 50px;
$hexagon-small: 40px;
$hexagon-smaller: 30px;