@use "./containers/Hero/hero";
@use "./containers/Header/header";
@use "./components/SectionDivider/section-divider";
@use "./containers/Topic/topic";
@use "./components/SectionGradient/section-gradient";
@use "./containers/Schedule/schedule";
@use "./components/ScheduleElement/schedule-element";
@use "./containers/FAQ/faq";
@use "./containers/Partners/partners";

@import "./styles/variables";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root {
    color-scheme: dark;
}

.main {
    max-width: 100vw;
    overflow: clip;
    background-color: $background-color-2;
}

#root {
    overflow-x: hidden;
    font-family: 'Chakra Petch', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}
